.bordessolido{
    border-color: #aaaaaa;
    border-width: 1px;
    border-style: solid;
}
.bordepunteado{
    border: 1px dotted #ff8833;
}
.bordedoble{
    border: 1px double #990000;
}
.bordedashed{
    border: 1px dashed #660000;
}
.bordegroove{
    border: 5px groove #66cc66;
}
div.borderige{
    border:  10px ridge #6666cc;
}
div.borderinset{
    border: 10px inset #3333ff;
    background-color: #0000ff;
}
div.borderoutset{
    border: 10px outset #cccccc;
    background-color: #cccccc;
}
.borderporlados{
    border-top: 1px solid #ff9999;
    border-right: 2px dotted #99dd99;
    border-bottom: 2px dashed #9999ff;
    border-left:  3px double #666666;
}