body{
    background-color: #97908a;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#contenedor{
    padding-left: 35px;

    
}

#menu{
    background: #4d4c4a;
    margin-top: 60px;
    margin-left: 20px;
    width: 940px;
    height: 0 auto;
    
}
ul{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    
}
ul li{
   display: inline;
   padding: 20px;
}

li.active{
    color: white;
    background: black;
    padding: 20px;
}

li {
    color: rgb(114, 216, 6);
    text-decoration: none;
    
}

#side{
    background-color: #7a756f;
}


